# Code owners file
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for more information

# Global owners
* @sobolevnrm @wavefunction91 @nabbelbabbel @ConradJohnston @RushiGong

# Pipelines
/.pipelines/ @wavefunction91 @nabbelbabbel @v-georgen @sobolevnrm @RushiGong

# Samples
/examples/ @sobolevnrm @wavefunction91 @nabbelbabbel @ConradJohnston @RushiGong

# C++
/cpp/ @sobolevnrm @wavefunction91 @nabbelbabbel @ConradJohnston @RushiGong

# Python
/python/ @sobolevnrm @wavefunction91 @nabbelbabbel @ConradJohnston @RushiGong
